
.cards_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
}

.event-box {
  
  width: 17vw;
  height: 20vh;
  background-size: cover;
  background-position: center;
  margin: 1vh 1vw;
  position: relative;
  cursor: pointer;
  
  overflow: hidden;
  color: white;
  padding: 10px;
}

.event-box .name-box {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: white;
  text-align: center;
  padding: 10px;
  height: 20%; 
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.event-box:hover {
  outline: none;
  padding: 0;
  border-radius: 10px;
}

.event-box:hover .event-image{
 outline: none;
 translate: scale(1.1);
}


.event-box .event-image {
  outline: none;
  width: 100%;
  height: 80%;
  translate: scale(0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-position: center;
}


.event-box.expanded {
  outline: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 60vw;
  height: 60vh;
  overflow: auto;
  border-radius: 10px;
}

.event-box.expanded:hover{
  outline: none;
}

.event-box .event-details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0,0,0,0.7);
  color: white;
}

.event-box.expanded .event-details .event-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  background: transparent;
}

.event-box.expanded .event-details .event-date-time {
  margin-bottom: 5vh;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-box.expanded .event-details .event-description {
  width: 100%;
  font-size: 1.75vh;
  margin-left:1vw;
  margin-right:1vw;
  margin: 10vh;
  text-align: center;
}

.event-box.expanded .event-details .event-location {
  display: flex;
  align-items: center;
  font-size: 2vh;
  justify-content: center;
  flex-direction: column;
}

.location-link {
  color: #fff;
  text-decoration: underline;
}

.location-link:hover {
  text-decoration: none;
  color: blue;
} 

.cards{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
