* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.events,
.photos,
.sign-up {
  display: flex;
  height: 91.7vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} 

 /* .events {
  background-image: url('../public/images/eventsBackground.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.photos {
  background-image: url('../public/images/photosBackground.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('../public/images/signUpBackground.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}